{{textarea
  autofocus=autofocus
  cols=cols
  disabled=disabled
  form=form
  placeholder=placeholder
  readonly=readonly
  rows=rows
  wrap=wrap
}}
{{#if showClear}}
  {{#frost-button class='clear' type='icon' on-click=(action 'clear')}}
    {{frost-icon  icon='frost/close'}}
{{/frost-button}}
<!--  <a class="clear" {{!action "clear"}}>x</a>-->
{{/if}}
